<style>
.voeu {
    font-family: Arial;
    background-color: #fcefee;
    padding: 2rem;
}
.voeu_container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
form {
    margin-bottom: 2rem;
}
textarea {
    width: 100%;
    height: 100px;
}
.message {
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}
</style>
{% extends "base.html"%}
{% block title %} commentaire {% endblock %}

{% block content %}
<div class="voeu_container,voeu">
  

    
    <div class="container">
        <div class="album py-5 bg-body-tertiary">
          {% if response %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              {% for item in response %}

          <div class="col">
            <div class="card shadow-sm">
              <div class="message">
            <strong>{{item.nom}}</strong> <br>
             </div>
              <div class="card-body">
                <p class="card-text"><em>{{item.commentaire}}</em></p>
          
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

         
        {% endif %}

            
      </div>
    </div>
      


        <form   class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post" action="/commentaires">
          <H3><em>laissez un voeux</em></H3>
          <div  class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="nom" 
            name="username"
            >
            <label for="floatingInput">nom</label>
          </div>

            <div class="form-floating mb-3">
              <textarea  style="height: 200px " type="text" class="form-control" id="floatingInput" placeholder="laisser un voeux " 
              name="commentaire"
              > </textarea>
              <label for="floatingInput">voeux</label>
            </div>
           
           
            <button class="w-100 btn btn-lg btn-primary" type="submit">Envoyer</button>
          
          </form>
        
        
</div>

{% endblock %}


  