{% extends "base.html"%}
{% block title %} Ayden Birthday {% endblock %}

{% block content %}
<main class="px-3 birthday-section ">
  <div class="birthday-text">
    
    <h1>🌟 Le compte à rebours est lancé…</h1>
   
    <p class="lead"> Le <strong>10 mai</strong>, une date pas comme les autres, une journée qu’on attend avec impatience et amour… car ce jour-là, nous célébrons une personne exceptionnelle : Ayden 🧸

      Petit cœur rempli d’énergie, <strong> Ayden</strong> est ce genre d’enfant qui illumine chaque pièce où il entre. Avec ses sourires malicieux, ses éclats de rire contagieux et son imagination débordante, il transforme le quotidien en aventure, et les journées en éclats de bonheur.
      
      Pour ses proches, il est un trésor. Pour ses amis, un complice de jeu infatigable. Pour nous tous, il est un rayon de soleil qu’on veut célébrer comme il se doit.
      
      🎈 Le <strong>10 mai </strong>prochain, nous organisons une fête pleine de magie, de jeux, de rires et de surprises pour faire briller ses yeux et remplir son cœur de souvenirs inoubliables.
      
      Si tu lis ceci, c’est que tu fais partie de ceux qu’il aime — et ta présence à cette journée rendra son bonheur encore plus grand 💙
      
      Viens fêter Ayden avec nous. Il t’attend avec impatience, gâteau à la main et étoiles plein les yeux 🎂🌟
      
      <strong> joyeux anniversaire Ayden, tu es notre fierté et notre joie.</strong></p>
    </div>

    <div class="birthday-image">

      <img src="/static/images/img1.jpg" alt="Ayden">
    </div>
  </main>
  {% endblock %}