{% extends "base.html"%}
{% block title %} login {% endblock %}

{% block content %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Joyeux Anniversaire </h1>
        <p class="col-lg-10 fs-4">Ayden, notre super-héros du jour !
            Aujourd’hui, tous les méchants doivent se cacher… c’est ton anniversaire !
            Prépare-toi à une journée pleine de surprises, de missions secrètes (et de bonbons !)</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post" action="/login">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" 
            name="username"
            >
            <label for="floatingInput">addresse Email</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
            name="password">
            <label for="floatingPassword">Mot de passe </label>
          </div>
         
          <button class="w-100 btn btn-lg btn-primary" type="submit">Connection</button>
        
        </form>
      </div>
    </div>
  </div>
  {% endblock %}